<div class="info-header">
  <h1>Hello, <%= current_user.username %>!</h1>
  <h2>Check out the latest movie reviews...</h2>
</div>

<div class="info">
  <% @reviews.each do |review| %>
    <%= display_review_title_link(review) %>
    <br>
    <%= render partial: "reviews/reviews", :locals => {:review => review} %>
    <br>
  <% end %>
</div>
