<h1>Hello, <%= current_user.username %></h1>

<h2>Here are the latest movie reviews:</h2>

<% @reviews.each do |review| %>
  <%= display_review_title_link(review) %>
  <br>
  <%= render partial: "reviews/reviews", :locals => {:review => review} %>
<% end %>
