<h1>Hello, <%= current_user.username %></h1>

<h3><%= admin_header %></h3>

<h2>Here are the latest movie reviews:</h2>

<%= render partial: "reviews/reviews", :locals => {:reviews => @reviews, :movie => @movie} %>
