/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

h1 {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 25px;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

form {
  margin-left: 25%;
}

// a {
//   color: red;
// }

.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.form-row {
  margin: 5px;
  padding-right: 5px;
}

.form-group {
  margin: 5px;
  padding-right: 5px;
}


.btn-outline {
  padding: 0.175rem 1rem;
  border-color: #6c757d;
  font-family: sans-serif;
  margin-right: 10px;
}

.search-form {
  margin-left: 10px;
}

.error-list {
  margin-left: 25%;
}

.info-header {
  background-color: #eeeeee;
  text-align: left;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 1px;
  padding-left: 25px;
  margin-top: 75px;
  margin-bottom: 25px;
  border-radius: 7px;
}

.info-header h1 {
  margin-top: -5px;
  text-align: center;
  font-weight: 300;
}

.info {
  background-color: #eeeeee;
  text-align: left;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 25px;
  border-radius: 7px;
}

.btn-secondary {
  padding: 0.175rem 1rem;
  font-family: sans-serif;
  margin-right: 10px;
}

// .pretty th .asc {
//   background-image: './images/up_arrow.gif';
// }
//
// .pretty th .desc {
//   background-image: './images/down_arrow.gif';
// }
