/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin: 25px 0px;
  font-weight: 300;
}

h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

a {
  color: #325aa8;
}

form {
  margin-left: 22%;
  margin-right: 22%;
}

body {
  padding-top: 60px;
}

.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.new_user {
  margin-left: 33%;
  margin-right: 33%;
}

.form-row {
  margin: 5px;
  padding-right: 5px;
}

.search-form {
  margin-left: 10px;
}

.error-list {
  margin-left: 12%;
}

#error_explanation {
  background-color: #eeeeee;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 3px;
  margin-bottom: 25px;
  margin-left: 22%;
  margin-right: 22%;
  border-radius: 7px;
}

.info {
  background-color: #eeeeee;
  text-align: left;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 1px;
  padding-left: 25px;
  margin-bottom: 25px;
  border-radius: 7px;
}

.btn-secondary {
  padding: 0.175rem 1rem;
  font-family: sans-serif;
  margin-right: 10px;
}

.btn-outline-secondary {
  padding: 0.175rem 1rem;
  border-color: #6c757d;
  font-family: sans-serif;
  margin-right: 10px;
}

.message {
  margin-bottom: 25px;
  text-align: center;
  color: #aa00e3;
  font-weight: 300;
  font-size: 1.5em;
}

.img-responsive {
  width: 100%;
  margin-bottom: 10px;
}
