<h1>Edit Review for <%= current_review.movie.title %></h1>

<% if current_review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(current_review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
    <% current_review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "form", :locals => {:review => current_review} %>
