<h1>Edit Review for <%= current_review.movie.title %></h1>

<%= render partial: "layouts/errors", :locals => {:object => current_review} %>

<%= render partial: "form", :locals => {:review => current_review} %>
