<h1><%= reviews_display_header %></h1>

<% @reviews.each do |review| %>
  <%= link_to review.title, review_path(review) %>
  <%= render partial: "reviews", :locals => {:review => review} %>
<% end %>

<%= write_review_for_movie_link %>
