<% if params[:user_id] && current_user.id.to_s == params[:user_id] %>
  <h1>Your Reviews</h1>
<% elsif params[:user_id] && @user %>
  <h1><%= @user.username %>'s Reviews</h1>
<% elsif params[:movie_id] && @movie %>
  <h1><%= @movie.title %> Reviews</h1>
  <%= link_to "Write a Review for #{@movie.title}", new_movie_review_path(@movie) %>
  <br><br><br>
<% else %>
  <h1>Movie Reviews</h1>
<% end %>

<%= render partial: "reviews", :locals => {:reviews => @reviews, :movie => @movie} %>
