<% if @review.movie %>
  <h1>New Review for <%= @review.movie.title %></h1>
<% else %>
  <h1>New Review</h1>
<% end %>

<%= render partial: "layouts/errors", :locals => {:object => @review} %>

<%= render partial: "form", :locals => {:review => @review} %>
