<% if @review.movie %>
  <h1>New Review for <%= @review.movie.title %></h1>
<% else %>
  <h1>New Review</h1>
<% end %>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "form", :locals => {:review => @review} %>
